#table{
    width: 100vw;
    overflow: scroll;
    gap: 0px;
    padding: 0px;
    background-color: aliceblue;
    border: solid red 5px;
}
#table * {border: solid black 5px;
width: 50vw;}
body{background-color: rgb(255, 255, 255);}
#peinture{
    height: 50vh;
    width:40 vw ;
    
}
#image{
    height: 50vh;
    width: 40vw;
}
h1{
    text-align: center;
    background-image: linear-gradient(rgb(174, 180, 181),rgb(246, 255, 246));
}
#G{color: red;}
#O{color: rgb(255, 213, 0);}
#L{color: blue;}
#E{color: green;}